@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  line-height: 1;
  letter-spacing: 1;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;

}

.header{
  height: 7rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem rgba(0,0,0,0.134);
  display: flex;
  align-items: center;
}

.hero{
  padding: 4rem;
}

.header-image{
  margin-left: 2.4rem;
}

.hero-image-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hero-image{
  max-width: 50rem;
  margin-top: 2rem;
}

.hero-title{
  margin-top: 2.5rem;
  font-size: 3.6rem;
  line-height:2.0;
  align-self: start;
}

.hero-content{
  font-size: 1.6rem;
  width: auto;
  color: #111;
  max-width: 40rem;
  line-height: 1.2;
  align-self: start;
  
}

/* Main */
.main{
  padding: 2rem 4rem;
  line-height: 1.7;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  column-gap: 2rem; 
  overflow-x: scroll;

}

.main--info{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  max-width: 17.6rem;
  column-gap: 0.3rem;
  
}
.main--info--caption{
  text-overflow: ellipsis;
  width: 20rem;
}
.main--info--star{
  width: 1.2rem;
  height: 1.2rem;

}

.country{
  color: rgba(102, 102, 102, 0.911);
}
.main--image-container{
  max-width: 17.6rem;
  position: relative;
}

.btn{
  position: absolute;
  left: 0.6rem;
  top: 0.6rem;
  border-width: 0;
  font-size: 0.9rem;
  padding: 0.4rem  0.5rem;
  color: #444;
  background-color: #fff;
  border-radius: 0.2rem;
}

.joke--btn{
  width:fit-content;
  
  padding: 1rem 0.7rem;
  border-style: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgb(253, 55, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.joke--btn:hover{
  background-color:rgb(188, 14, 49); 
}

.joke--hr{
  opacity: 0.25;
}

